* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.popFont {
  font-family: "Poppins", sans-serif;
}

.fw {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  color: white;
}

.h4-blue {
  color: #6C43DE;
}

.top-sectn {
  text-align: center;
  margin-top: 5rem;
}
.top-sectn h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  color: white;
}
@media (max-width: 768px) {
  .top-sectn h1 {
    font-size: 2.1rem;
  }
}
.top-sectn h4 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #38F9D7;
}
@media (max-width: 768px) {
  .top-sectn h4 {
    font-size: 1.2rem;
  }
}
.top-sectn p {
  font-size: 1.17rem;
  color: #999FAE;
}

.services {
  width: 100%;
  background-color: #f8f5f5;
  padding-bottom: 4rem;
}
.services button {
  align-self: center;
  padding: 1rem 4.5rem;
  margin-left: 40%;
  border: none;
  border-radius: 7px;
  margin-top: 2rem;
  font-size: 1.2rem;
  background-color: #6C43DE;
  color: white;
  font-weight: 600;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  .services button {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
.services .top-services {
  text-align: center;
  margin-top: 5rem;
}
.services .top-services h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .services .top-services h1 {
    font-size: 2.7rem;
  }
}
.services .top-services h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .services .top-services h4 {
    font-size: 1.4rem;
  }
}
.services .top-services p {
  font-size: 1.17rem;
  color: #999FAE;
}
.services .bottom-services {
  width: 100%;
  padding: 0.3rem 3rem;
  text-align: center;
  margin-top: 3rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .services .bottom-services {
    flex-direction: column;
    padding: 0.3rem 1rem;
  }
}
.services .bottom-services .serv-card {
  width: 28%;
  background-color: #FFFFFF;
  padding: 5rem 2rem;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .services .bottom-services .serv-card {
    width: 100%;
  }
}
.services .bottom-services .serv-card h3 {
  font-weight: 900;
  font-size: 1.5rem;
}
.services .bottom-services .serv-card p {
  color: #999FAE;
}

.works {
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.works .top-services {
  text-align: center;
  margin-top: 5rem;
}
.works .top-services h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  color: white;
}
@media (max-width: 768px) {
  .works .top-services h1 {
    font-size: 2.7rem;
  }
}
.works .top-services h4 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #38F9D7;
}
@media (max-width: 768px) {
  .works .top-services h4 {
    font-size: 1.4rem;
  }
}
.works .top-services p {
  font-size: 1.17rem;
  color: #999FAE;
}
.works .bottom-services {
  width: 100%;
  padding: 1rem 3rem;
}
.works .bottom-services .swiper {
  width: 100%;
}
.works .bottom-services .swiper .swiper-wrapper {
  width: 100%;
}
.works .bottom-services .swiper .swiper-wrapper .swiper-slide {
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
}
.works .bottom-services .swiper .swiper-wrapper .swiper-slide .overally {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  background-color: #AF93E0;
  opacity: 0;
}
.works .bottom-services .swiper .swiper-wrapper .swiper-slide .overally:hover {
  opacity: 0.8;
}
.works .bottom-services .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.clients {
  width: 100%;
}
.clients .top-sectn {
  background-color: red;
}
.clients .btm-sectn-works {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 4rem;
  flex-wrap: wrap;
  background-color: #12141C;
}
@media (max-width: 768px) {
  .clients .btm-sectn-works {
    width: 100%;
    padding: 0;
  }
}
.clients .btm-sectn-works .bottm-sectn-card {
  width: 30%;
  position: relative;
}
@media (max-width: 768px) {
  .clients .btm-sectn-works .bottm-sectn-card {
    width: 100%;
    padding: 0;
  }
}
.clients .btm-sectn-works .bottm-sectn-card .overally {
  background-color: rgb(8, 200, 114);
  height: 100%;
  width: 100%;
  z-index: 12;
}
.clients .btm-sectn-works .bottm-sectn-card h3 {
  z-index: 333;
}
.clients .btm-sectn-works .bottm-sectn-card img {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
}
body .container {
  width: 100%;
  flex-direction: column;
  padding-top: 1.2rem;
  background-color: #6E45E2;
  overflow: hidden;
}
@media (max-width: 768px) {
  body .container {
    padding: 1rem 0.6rem;
  }
}
body .container .navBar {
  align-self: center;
  width: 90%;
  font-family: "Roboto", sans-serif;
  padding: 0.7rem;
  background-color: #12141C;
  border-radius: 0.4rem;
}
@media (max-width: 768px) {
  body .container .navBar {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #6E45E2;
    padding: 0;
    border-radius: 0rem;
  }
}
body .container .navBar .leftNav {
  width: 30%;
}
@media (max-width: 768px) {
  body .container .navBar .leftNav {
    width: 70%;
  }
}
body .container .navBar .leftNav img {
  width: 70%;
}
@media (max-width: 768px) {
  body .container .navBar .leftNav img {
    width: 40%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
body .container .navBar .midNav {
  width: 90%;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 768px) {
  body .container .navBar .midNav {
    display: none;
  }
}
body .container .navBar .midNav a {
  font-size: 1rem;
}
body .container .navBar .rightNav {
  width: 10%;
  color: white;
  gap: 0.6rem;
}
@media (max-width: 768px) {
  body .container .navBar .rightNav {
    width: 20%;
  }
}
body .container .navBar .rightNav .bx-search {
  font-size: 1.5rem;
}
body .container .navBar .rightNav .bx-menu {
  font-size: 3rem;
}
body .container .heroSectn {
  width: 90%;
  height: 100vh;
  gap: 4rem;
  position: relative;
}
@media (max-width: 768px) {
  body .container .heroSectn {
    height: 84%;
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
  }
}
body .container .heroSectn .swiper {
  width: 40%;
  height: 75%;
  padding-top: 10%;
  z-index: 999;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  body .container .heroSectn .swiper {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    text-align: center;
  }
}
body .container .heroSectn .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
body .container .heroSectn .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
body .container .heroSectn .swiper .swiper-wrapper .swiper-slide button {
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2.7rem;
}
@media (max-width: 768px) {
  body .container .heroSectn .swiper .swiper-wrapper .swiper-slide button {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
}
body .container .heroSectn .swiper .swiper-wrapper .swiper-slide h1 {
  color: RGB(255, 255, 255);
  font-size: 54px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  body .container .heroSectn .swiper .swiper-wrapper .swiper-slide h1 {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  body .container .heroSectn .swiper .swiper-wrapper .swiper-slide h2 {
    font-size: 24px;
    font-weight: 200;
  }
}
body .container .heroSectn .swiper .swiper-wrapper .swiper-slide p {
  color: white;
  font-size: 24px;
}
@media (max-width: 768px) {
  body .container .heroSectn .swiper .swiper-wrapper .swiper-slide p {
    font-size: 22px;
  }
}
body .container .right-hero {
  z-index: 500;
  width: 60%;
  margin-left: 2rem;
}
body .container .right-hero img {
  width: 100%;
}
@media (max-width: 768px) {
  body .container .right-hero {
    display: none;
  }
}
body .container .bg-circle {
  background-color: #5D7BDF;
  width: 50%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  left: -20rem;
  top: 2rem;
}
@media (max-width: 768px) {
  body .container .bg-circle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */