*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import'./variabless/variables';


body{
    width: 100vw;
    .container{
        width: 100%;
        flex-direction: column;
        padding-top: 1.2rem;
        background-color: #6E45E2;
        overflow: hidden;
        @media(max-width:768px){
            padding: 1rem 1rem;
        }
        .navBar{
            align-self: center;
            width: 90%;
            font-family: 'Roboto', sans-serif;
            padding: .7rem;
            background-color: #12141C;
            border-radius: .4rem;
            @media(max-width:768px){
                width: 100%;
                padding: 1rem 1rem;
                background-color: #6E45E2;
                padding: 0;
                border-radius: 0rem;
            }
            .leftNav{
                width: 30%;
                @media(max-width:768px){
                    width: 70%;
                }
                img{
                    width: 70%;
                    @media(max-width:768px){
                        width: 40%;
                    }
                }
            }
            .midNav{
                width: 90%;
                gap: 3rem;
                align-items:center ;
                @media(max-width:768px){
                    display: none;
                }
                a{
                    font-size: 1rem
                   
                }
            }
            .rightNav{
                width: 10%;
                color: white;
                gap: .6rem;
                @media(max-width:768px){
                    width: 20%;
                }
                .bx-search{
                    font-size: 1.5rem;
                }
                .bx-menu{
                    font-size: 3rem;
                }
            }
        }
        .heroSectn{
            width: 90%;
            height: 100vh;
            .left-hero{
                width: 40%;
                height: 100%;
                padding-top: 10%;
                z-index: 999;
                flex-direction: column;
                align-items:center ;
                @media(max-width:768px){
                    width: 100%;
                    height: 30vh;
                    text-align: center;
                }
                // background-color: green;
                h1{
                    color:RGB(255, 255, 255);
                    font-size: 44px;
                    font-weight: 800;
                    font-family: 'Roboto', sans-serif;
                }
                p{
                    color: white;
                }
            }
            .right-hero{
                z-index: 500;
                width: 60%;
                img{
                    width: 100%;
                }
                @media(max-width:768px){
                    display: none;
                }
            }
            .bg-circle{
                background-color: #5D7BDF;
                width: 40%;
                height: 90%;
                border-radius: 50%;
                position: absolute;
                left: -8rem;
                @media(max-width:768px){
                    display: none;
                }
            }
        }
    }
}