*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import'./variabless/variables';
@import'./services/services';
@import'./works-section/works';
@import'./clients';


body{
    width: 100vw;
    .container{
        width: 100%;
        flex-direction: column;
        padding-top: 1.2rem;
        background-color: #6E45E2;
        overflow: hidden;
        @media(max-width:768px){
            padding: 1rem .6rem;
        }
        .navBar{
            align-self: center;
            width: 90%;
            font-family: 'Roboto', sans-serif;
            padding: .7rem;
            background-color: #12141C;
            border-radius: .4rem;
            // position: sticky;
            @media(max-width:768px){
                width: 100%;
                padding: 1rem 1rem;
                background-color: #6E45E2;
                padding: 0;
                border-radius: 0rem;
            }
            .leftNav{
                width: 30%;
                @media(max-width:768px){
                    width: 70%;
                }
                img{
                    width: 70%;
                    @media(max-width:768px){
                        width: 40%;
                        object-fit: contain;
                    }
                }
            }
            .midNav{
                width: 90%;
                gap: 3rem;
                align-items:center ;
                @media(max-width:768px){
                    display: none;
                }
                a{
                    font-size: 1rem
                   
                }
            }
            .rightNav{
                width: 10%;
                color: white;
                gap: .6rem;
                @media(max-width:768px){
                    width: 20%;
                }
                .bx-search{
                    font-size: 1.5rem;
                }
                .bx-menu{
                    font-size: 3rem;
                }
            }
        }
        .heroSectn{
            width: 90%;
            height: 100vh;
            gap: 4rem;
            position: relative;
            @media(max-width:768px){
                height: 84%;
                width: 100%;
                text-align: center;
                padding: 1rem 0rem;
            }
           
        
            .swiper{
                width: 40%;
                 height: 75%;
                 padding-top: 10%;
                //  overflow: hidden;
                //  background-color: red;
                 z-index: 999;
                 flex-direction: column;
                 align-items:center ;
                 
                 @media(max-width:768px){
                     width: 100%;
                     height: 100%;
                     padding: 1rem 1rem;
                    //  background-color: red;
                    text-align: center;
                }
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                   
                    .swiper-slide{
                        width: 100%;
                        height: 100%;
                        button{
                            border: none;
                            margin-top: 2rem;
                            border-radius: 1rem;
                            padding: 1rem 2.7rem;
                            @media(max-width:768px){
                                margin-top: .7rem;
                                margin-bottom: 1rem;
                            }
                        }
                        // background-color: green;
                        h1{
                            color:RGB(255, 255, 255);
                            font-size: 54px;
                            font-weight: 800;
                            font-family: 'Roboto', sans-serif;
                            @media(max-width:768px){
                                font-size: 37px;
                            }
                        }
                        h2{
                            @media(max-width:768px){
                                font-size: 24px;
                                font-weight: 200;
                            }
                        }
                        p{
                            color: white;
                            font-size: 24px;
                            @media(max-width:768px){
                                font-size: 22px;
                            }
                            
                        }
                    }
                }
               
            }
            }
            .right-hero{
                z-index: 500;
                width: 60%;
                margin-left: 2rem;

                img{
                    width: 100%;
                }
                @media(max-width:768px){
                    display: none;
                }
            }
            .bg-circle{
                background-color: #5D7BDF;
                width: 50%;
                height: 90%;
                border-radius: 50%;
                position: absolute;
                left: -20rem;
                top: 2rem;
                @media(max-width:768px){
                    display: none;
                }
            }
        }
    }
